@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100;200;300;400;500;700&family=Orbitron:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .app-container {
    @apply px-24;
  }
  .container {
    @apply mx-auto px-4;
  }
  .centerapp {
    @apply items-center !important;
  }
  #body {
    opacity: 0;
    animation: appear 1s ease-out 2s forwards;
  }

  #light,
  #shadow,
  #ground,
  #cup {
    opacity: 0;
    animation: lightup 1s ease-out 1s forwards;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes lightup {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .tech {
    opacity: 0;
    animation: infinite-spinning 10s ease-in-out infinite;
  }
  @keyframes infinite-spinning {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.2) translateY(-60px);
    }
  }
  .flicking-arrow-prev {
    @apply top-[90%] !important;
  }
  .flicking-arrow-next {
    @apply top-[90%] !important;
  }
  .flicking-arrow-prev::after {
    @apply bg-white border border-neutral-900 !important;
  }
  .flicking-arrow-prev::before {
    @apply bg-white border border-neutral-900 !important;
  }
  .flicking-arrow-next::before {
    @apply bg-white border border-neutral-900 !important;
  }
  .flicking-arrow-next::after {
    @apply bg-white border border-neutral-900 !important;
  }
  .projectImage {
    object-fit: cover;
  }
  .holder::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
  }
}
